*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e4dddd;
}
/* navbar logo*/
.navbar{
    background-color:#232F3E;
    height:60px;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    
}
.nav-logo{
    height:50px;
    width:100px;
    
}
.logo{
    background-image:url("https://th.bing.com/th?id=OIP.T6UN4S8JqRmh_9o-nQ7M4gHaEk&w=318&h=196&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2");
    mix-blend-mode:lighten;
    background-size:cover;
    mix-blend-mode: lighten;
    height:50px;
    width:100px;
   
}
.border{
    border:1.5px solid transparent;
}
.border:hover{
    border:1.5px solid white;
}
/*navbar address*/
.add-icon{
    color: white;
    font-size: 0.85rem;
    display:flex;
}


.add-1{
    color: white;
    font-size: 0.85rem;
    text-decoration: none;
    margin-left:15px;
}

.add-2{
    color: white;
    font-size: 0.85rem;
    text-decoration: none;
    margin-left:5px;
}
/*navbar select*/
.nav-search{
    display:flex;
}
.everything{
    height:40px;
    width:55px;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    font-size: 15px;
}

input{
    height:35px;
    width:400px;
    

}
.search-icon{
    color: white;
    font-size: 0.85rem;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    background-color: rgb(187, 135, 24);
    color:white;
    height:40px;
    width:55px;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    
}
.search{
    text-decoration: none;
    color:white;
}
/* navbar language */
.lang{
    font-size: 2px;;
}
.lang-icon{
    background-color:#232F3E;
}
.language{
    display:flex;
    margin-bottom: 15px;
    margin-right:10px;
    margin-top:20px;
    margin-left: 10px;;
    height:20px;
    width:35px;
    font-size: x-small;
    font-weight: bold;
}
/* navbar hello/signin*/
.hello{
    text-decoration:none;
    color:white;
    font-size: 14px;
}
.accounts{
    text-decoration:none;
    color:white;
    font-weight: bold;
    font-size: 18px;
}
/* navbar Returns & orders */
.return{
    text-decoration:none;
    color:white;
    font-size: 14px;
}
.order{
    text-decoration:none;
    color:white;
    font-weight: bold;
    font-size: 18px;
}
/*cart*/
.nav-cart{
    display:flex;
    color:white;
    font-size:30px;
}
.cart{
    text-decoration: none;
    font-size:20px;
    font-weight:bold;
    color:white;
}

/* panel */
.panel{
    height:40px;
    background-color: #37475A;;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.click{
    border: 1.5px solid transparent;
}
.click:hover{
    border: 1.5px solid white;
}
/* panel 1*/
.panel1{
    font-size:20px;
    color:white;
}
.all1{
    text-decoration: none;
    color:white;
}
/* panel 2*/
.fresh{
    text-decoration: none;
    font-size:20px;
    color:white;
}
/* panel 3*/
.MX{
    text-decoration: none;
    font-size:20px;
    color:white;
}
/* panel 4*/
.sell{
    text-decoration: none;
    font-size:20px;
    color:white;
}
/* panel 5*/
.best{
    text-decoration: none;
    font-size:20px;
    color:white;
}
/* panel 6*/
.today{
    text-decoration: none;
    font-size:20px;
    color:white;
}
/* panel 7*/
.mobile{
    text-decoration: none;
    font-size:20px;
    color:white;
}
/* panel 8*/
.customer{
    text-decoration: none;
    font-size:20px;
    color:white;
}
/* panel 9*/
.prime{
    text-decoration: none;
    font-size:20px;
    color:white;
}
/* panel 10*/
.electric{
    text-decoration: none;
    font-size:20px;
    color:white;
}
/* advertise */
.advertise{
    height:400px;
    background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/INSLGW/pc_unrec_refresh._CB555261616_.jpg");
    background-size: cover;
}
/* Explore */
.explore{
    display:flex;
    color:black;
    font-size: 20px;
}

/* business class */
.explore-business{
    height:400px;
    width:300px;
    background-color:aliceblue;
    margin-top:-100px;
    margin-left:20px;
}
/* home class */
.explore-home{
    height:400px;
    width:300px;
    background-color:aliceblue;
    margin-top:-100px;
    margin-left:20px;
}
/* headphones class*/
.explore-headphones{
    height:400px;
    width:300px;
    background-color:aliceblue;
    margin-top:-100px;
    margin-left:20px;
}
/* appliances class */
.explore-appliances{
    height:400px;
    width:300px;
    background-color:aliceblue;
    margin-top:-100px;
    margin-left:20px;
    margin-right:20px;
}
/* business */
.business{
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-size: 25px;
}
.arrange1{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
}
.image1 img{
    margin-top:10px;
    width: 120px;  
 
    height:100px;
    object-fit: cover;
}
.image1 p {
    margin-top: 10px;
    font-size: 16px;
}
.home{
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-size: 25px;
}
.headphones{
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-size: 25px;
}
.appliances{
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-size: 25px;
}
/* b&p */
.bp{
    height:250px;
    background-color: aliceblue;
    margin-top: 15px;
    margin-left: 18px;
    margin-right: 18px;
    font-weight: bold;
    font-size: 25px;
}
.image2{
    display:flex;
    justify-content: space-evenly;
    height:200px;
    margin-top: 10px;;
}
/* home-essentials*/
.home-essentials{
    height:250px;
    background-color: aliceblue;
    margin-top: 15px;
    margin-left: 18px;
    margin-right: 18px;
    font-weight: bold;
    font-size: 25px;
}
.image3{
    display:flex;
    justify-content: space-evenly;
    height:200px;
    margin-top: 10px;
}
/*ad */
.advertise1{
    display:flex;
    justify-content: center;
}
.ad{
    height:200px;
    background-color: aliceblue;
    margin-top: 15px;
    margin-left: 18px;
    margin-right: 18px;
    background-image: url("https://m.media-amazon.com/images/S/al-eu-726f4d26-7fdb/c9f5c5c4-61ee-4fe7-add9-9e1d3ec50fe9.jpg");
    background-size:cover;
    width:80%;
}
/*signup*/
.signup{
    height: 250px;
    background-color: aliceblue;
    margin-top: 15px;
    border: 1px solid grey;
    color:black;
    font-size: 25px;
    font-weight: bold;
    display:flex;
}
.sign{
    color:black;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid grey;
    margin-top: 40px; 
    margin-bottom: 30px;
    width:100%;
    text-align: center;
    padding-top:30px;
}
.button{
    margin-top:10px;
    height:40px;
    width: 200px;
    text-align: center;
    border-radius:25px;
    background-color:yellow;
}
.start{
    font-size: 11px;
    display: inline;
}
.start1{
    font-size: 10px;
    color:lightseagreen;
}
/* footer panel */
.footer-panel{
    height:30px;
    background-color: #37475A;
    text-align: center;
    padding-top:1rem;
    color:white;
    font-size: 13px;
}
/* footer end */
.footer-end{
    height: 200px;
    background-color: #232F3E;
    display: flex;
    justify-content: space-evenly;
    padding-top:40px;
    color:white;
}

ul{
    font-weight: bold;
    list-style-type: none;   
}
li{
    font-weight:normal;
    padding-top:10px;
}
.afooter{
    text-decoration: none;
    color:white;
}
.afooter:hover{
    text-decoration: underline;
}
/* footer last */
.footerlast{
    height:120px;
    background-color: #232F3E;
    border:0.25px solid grey;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    display:flex;
    justify-content: space-evenly;
}

.last1 img{
    height:50px;
    mix-blend-mode:lighten;
    margin-top:30px;
}
.last1{
    display:flex;
}

.eng{
    height:25px;
    width: 100px;
    border:1px solid grey;
    margin-top:40px;
    margin-left:15px;
}
.eng p{
    font-size:12px;
    color:white;
    text-align: center;
    padding-top:5px;

}
.eng1{
    width:20px;
    margin-left:10px;
    height:10px;
}
.ind{
    height:25px;
    width: 100px;
    border:1px solid grey;
    margin-top:40px;
    margin-left:15px;
}
.ind p{
    font-size:12px;
    color:white;
    text-align: center;
    padding-top:5px;
}
/* close */
.close{
    height: 250px;
    background-color: #0e161e;
    padding-top:-30px;
    color:white;
    display: flex;
    justify-content: space-evenly;
}
.close ul{
    margin-top: 20px;
    font-size: 12px;
}
ul a{
    text-decoration: none;
    color:white;
}
ul:hover{
    text-decoration: underline;
}
/* close 1 */
.close1{
    margin-top: -60px;
    font-size: 12px;
    margin-left:400px;
}
.close2{
    text-decoration: none;
    color:white;
    font-size: 12px;
    margin-left:100px;
}
.close1 a{
    text-decoration: none;
    color: white;
}
.close3{
    margin-left: 27px;
}
